.top {
	margin-top: 50px;
	color: #fafafa;
}

.top__inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.top--image {
	height: 300px;
	width: 200px;
	background: url('./../../assets/img/1.webp');
	background-repeat: no-repeat;
	background-size: cover;
}

.movie__info {
	position: relative;
	width: 200px;
	text-align: start;
}

.movie__category {
	color: #ffa947;
}

.movie__average {
	position: absolute;
	font-weight: 700;
	bottom: 300px;
	left: 7px;
	color: #2c7a2c;
	padding: 5px 10px;
	border: 2px solid #2c7a2c;
	border-radius: 20px;
}