#root {
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'Monserat';
  src: url(./../Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  background-color: #070b1c;
  font-family: 'Monserat';
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-flow: column;
}

button {
  padding-inline: 0;
  padding-block: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}