#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  background-color: #070b1c;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-flow: column;
}

button {
  padding-inline: 0;
  padding-block: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}